.bet_mobile{
    background-image: url(../html/images/settings/buttonPanel/mobile/bet_normal.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: flex;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the container */
}


.bet_stepper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the bet_stepper */
}

#cp_stepper_total_bet {
    display: flex;
    align-items: center;
    position: relative;
}
.value {
    position: absolute;
    top: 39%;
    left: 67%;
    transform: translate(-50%, -50%); /* Center the element */
}

.rectangle-label {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 38%;
    background-color: #000000; /* Dark black background color */
    border-radius: 20px; /* Adjust the border radius as needed */
    border: 2px solid #ffffff; /* White border */
    z-index: -1; /* To place it behind the content */
}

.betbutton_icon,
.value {
    color: #ffffff; /* Text color inside the button and value field */
    position: relative;
    z-index: 1; /* To place the content above the background rectangle */
}

.button_plus {
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: '';
    width: 50px; /* Set the button width */
    height: 50px; /* Set the button height */
    border-radius: 20px; /* Adjust button border radius */
    cursor: pointer;
}

.button_minus {
    position: absolute;
    top: -90%;
    left: 9%;
   /* transform: translateY(-50%);*/
    background-image: url(../generic/ui_panel/minus_normal.png);
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: '';
    width: 25px !important;
    height: 25px !important;
    border-radius: 50px;
    cursor: pointer;
}

.bet_stepper {
    position: relative;
}

.button_plus {
    /* Keep the plus button in a fixed position relative to the value */
    position: absolute;
    top: -90%;
    right: -4.5px;
   /* transform: translateY(-50%);*/
    background-image: url("../generic/ui_panel/plus_normal.png");
    background-size: 50px 50px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    content: '';
    width: 25px !important;
    height: 25px !important;
    border-radius: 50px;
    cursor: pointer;
}

.value {
    width: auto !important;
    font-size: 0.85em;
    background-size: 166px 40px;
    background-repeat: no-repeat;
    border: transparent;
    text-align: center;
    margin-left: 10px; /* Adjust the margin as needed */
    line-height: 40px;
    font-family: 'Arial-Rounded-MT-Bold';
}











#control_panel .stepper{
    width: 75px!important;
}
#green-base{
    width: 100%;
    height: 200px;
    background-color:rgb(0 20 5 / 81%);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-flow: row;
    align-items: center;
    visibility: hidden;
    justify-content: space-around;
}
#history_setting{
    background-image: url('../html/images/settings/buttonPanel/mobile/history_normal.png')!important;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

#mobileBetPanel{
    width: 50%;
    /* height: 360px; */
    /* display: inline-table; */
    z-index: 1;
    position: absolute;
    /* bottom: 0; */
    background-color: rgb(0 0 0 / 78%);
    visibility: hidden;
    font-family: arial;
    text-align: center;
    /* font-size: 5vw; */
   /* left: 25%;
    !* margin-left: -25px; *!
    top: 25%;
    margin-top: -25px;*/
}

.bet-heading{
    height: 40px;
    -webkit-text-stroke: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-bet{
    background-image: url("../html/images/settings/buttonPanel/mobile/close_btn.png");
    width:20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    right: 3%;
    position: absolute;
    pointer-events: all;
}
/*#history_setting:hover{
    background-image: url('../html/images/settings/buttonPanel/mobile/history_over.png')!important;
}
#button_help:hover{
    background-image: url('../html/images/settings/buttonPanel/mobile/rules_over.png')!important;
}
#button_settings:hover{
    background-image: url('../html/images/settings/buttonPanel/mobile/paytable_over.png')!important;
}*/

.bet-frame{
    display: inline-table;
   /* font-size: 4vw;*/
    margin-top: 2%;
    margin-bottom: 2%;
    pointer-events: all;
}
.selectedConfirmButton{
    background-color: #c1aa22!important;
}
.show-bet{
    padding: 10px;
    display: inline-table;
}
.bet-amt{
  /*  height: 70px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1aa22;
    flex-flow: column;

}
.current-bet{
    background-color: #c1aa22;
    border-radius: 13px;
}
.button-base{
   /* height: 50px;*/
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    pointer-events: all;
}
.btn-bet{
    height: 40px;
    background-color: #c1aa22;
    width: auto;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 21px;
    padding-left: 20px;
}


.menu_mob{
    background-image: url("../generic/ui_panel/info_normal.png");
    width: 14vh;
    height: 14vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.menu_pot {
    position: absolute;
    left: 612.7px;
    bottom: 97px;
    z-index: 9;
    cursor: pointer;
}


#button_help{
    background-image: url('../html/images/settings/buttonPanel/mobile/rules_normal.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
#button_settings{
    background-image: url('../html/images/settings/buttonPanel/mobile/paytable_normal.png')!important;
    width: 67px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.paytable_icons,.gameRules_icons,.sound_icons,.gen_set_icons{
    text-align: -moz-center;
    text-align: -webkit-center;

}
#gen_setting{
    background-image: url('../html/images/settings/buttonPanel/mobile/setting_normal.png')!important;
    width: 67px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin-left: 12px;
}
/*new ui end*/

#control_panel #footer
{
    display : none;
    /*background-color: black;*/
}
#control_panel .expand_icon
{
    display: none;
}
#control_panel #cp_bet_settings_panel
{
    display: none;
}

#play-time-land {
    margin-right: 5.5%;
}

#control_panel #info_bar
{
    top: 95.5%!important;
    left: 60%;
    color: #ffffff;
    width: 40%;
    height: 2vw;
    text-shadow: none;
    background-color: transparent;
    font-size: 1.1vw !important;
    font-weight: bold;
    font-family: 'Roboto-Bold';
    visibility: visible;
    z-index: 9;
}

#control_panel #info_bar .centre_text
{
   display:none !important;
}
#control_panel #info_bar.bright {
    color: white;
    text-shadow: 0 1px black;
}

#control_panel #feature_panel #feature_win_wrapper .meter_value
{
    font-weight: 900;
    font-size: 2.5vw;
}
#control_panel #feature_panel #feature_spins_wrapper .meter_value
{
    font-size: 2.5vw;
}

#control_panel .desktop_item_frame
{
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
#control_panel .desktop_item_frame_dark
{
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}
#control_panel #cp_autocount_label
{
    pointer-events: none;
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    color: black;

}
#control_panel #info_bar .title
{
    top: 0px;
    color: rgb(253, 253, 253);
    text-shadow: none;
    background-color: transparent;
    font-size: 1.1vw !important;
    font-weight: bold;
    right:17%;
    position: absolute;
}

#control_panel #info_bar .version{
    position: absolute;
    left: 61%;
}
#control_panel #info_bar .local_time{
    position: absolute;
    left: 79%;
}
#control_panel #panel_background
{
    height: 15vh;
    z-index: 9;
}
#control_panel #panel_background2
{
    bottom: -1px;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    height: 5%;
    position: absolute;
    width: 100%;
    /* margin-top: 51.9%;
}
#control_panel #Main_button_Container
{
    bottom: -1px;
    left: 0;
    height: 4%;
    position: absolute;
    width: 100%;
    /* margin-top: 51.9%; */
}

/* feature panel */
/*#control_panel #feature_panel
{
    left :10%;
    width: 26%;
    height: 100%;
    background-color: #900100;
}*/
#control_panel #autospin
{
    /*background-image: url("../html/images/settings/buttonPanel/Autoplay_Disable_mob.png");*/
    background-size: contain;
    width: 100%;
    height:100%;
}

#control_panel #Autoplay_btn:hover {
    /*background-image: url("../html/images/settings/buttonPanel/Autoplay_Normal_mob.png");*/
    /*background-size: contain;
    content: '';
    width: 100%;
    height: 100%;*/
}
#control_panel #cp_auto_settings_panel.cp_panel {
    width: 65%;
    height: auto;
    transform: translate(-50%,0%);
    padding: 0;
    left: 50%;
    font-family: Arial-Rounded-MT-Bold;
    bottom: 207px!important;
}

#control_panel #spin_background
{
    display: none;
}
#control_panel #Autoplay_btn
{
    background-image: url("../generic/ui_panel/autoplay_normal.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    display: flex;
}
#control_panel #settings_bets1
{
    background-image: url("../html/images/settings/Bet.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}


#control_panel #button_spin
{
    background-image: url("../generic/ui_panel/spin_normal.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#control_panel #button_stop_autospin
{
    background-image: url("../generic/ui_panel/stop_normal.png");
}
#control_panel #button_stop_spin
{
    background-image: url("../generic/ui_panel/stop_normal.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    display: none;
}
#control_panel .main_button{
    position: absolute;

}

#control_panel #button_auto_cp
{
    display: none;
}
#cp_stepper_total_bet{
    /*margin-left: 7%;*/
    /*display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-top: -4%;*/
}

.bet_stepper div {
    display: block;
    float: left;
    text-align: center;
}
.betbutton_icon {
    cursor: pointer;
    width: 25px !important;
    height: 25px !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-size: cover;
}

.button_bet_press {

    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: contain !important;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.button_bet_press {
    margin-right: .9em;
    background-size: contain !important;
    background-repeat: no-repeat;
}
.bet_stepper .value {
    width: auto !important;
    font-size: 0.80em;
    background-size: 166px 40px;
    background-repeat: no-repeat;
    border: transparent;
    text-align: center;
    left: 42%;
    line-height: 1.6vw;
    color: #ffffff;
    font-family: 'Arial-Rounded-MT-Bold';
}
#cp_bet_settings_panel .panel_button {
    margin-top: 0;
    line-height: 40px;
}
#cp_bet_settings_panel {
    width: 85%;
    height: 485px;
    bottom: 127px;
    right: 8%;
    text-align: center;
    z-index: 2;
    padding: 1% 0;
    transform: translate(0px, 22px);
    font-family: arial;
    box-sizing: border-box;
}
.bet_stepper div {
    display: block;
    float: left;
    text-align: center;
}
.cp_label {

    padding-left: 45%;
    text-align: center;
    font-size: 0.8em;
    font-family: 'Roboto-Bold';
}

/* action button wrapper (spin, stop etc) */
#control_panel #main_button_wrapper
{

    width: 8vw;
    height: 8vw;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    left: 88%;
    bottom: 45.3%;
    cursor: pointer;
    border-radius: 50%;
}
#control_panel #Autoplay_button_wrapper
{

    /*width: 9vw;
    height:9vw;*/
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    /*left: 85%;*/
    /*bottom: 70.3%;*/
    border-radius: 50%;

}

#control_panel .stepper .dot{
    width: 9vw!important;
    height: 9vw!important;
}
#control_panel #bet_button_wrapper
{
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    width: 15vh;
    height: 15vh;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}



#control_panel #button_audio
{

    height: 50px;
    background-size: contain;
    width: 50px;
    max-width: 80px;
    max-height: 80px;
    position: relative;
    cursor: pointer;
}
#control_panel #button_audio_screen
{

    left: 94%;
    bottom: 19px;
    height: 100%;
    background-size: 98%;
    position: absolute;
    visibility: visible;
    z-index: 9;
}

#control_panel #button_home
{
    left: 8px;
    bottom: 20px;
    height: 216%;
    background-size: 100%;
    position: absolute;
    visibility: visible;
    z-index: 9;
}

#control_panel #button_logo
{
    display:none;
}

#control_panel #bet_wrapper
{
    position: absolute;
    width: 19.1%;
    height: 100%;
    left: 63%;
    top: 44%;
    cursor: pointer;
    font-family: 'Arial-Rounded-MT-Bold';

}
.left-info{
    margin-left: 27%;
    margin-top: 1.5%;
}
#control_panel #info_bar .right_text {
    font-weight: bold;
    margin-right: 0.5em;
}
#control_panel #info_bar .right_text_title {
    font-weight: bold;
    margin-right: 0.5em;
}
#control_panel #info_bar .right_text_time {
    font-weight: bold;
    margin-right: 0.5em;
}
#control_panel #balance_wrapper
{
    left: 10%;
    top: 0px;
    height: inherit;
    width: 33.33%;
    position: absolute;
    font-family: 'leanderPrimaryFont';

}
#control_panel #accumulatedWin_wrapper
{
    left: 32%;
    top: 0px;
    height: inherit;
    width: 33.33%;
    position: absolute;
    font-family: 'leanderPrimaryFont';
}
#control_panel .accumulated_label
{
    color: #FF3BDA;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20px;
    top: 92%;
    left: 32%;
    font-family: 'Arial-Rounded-MT-Bold';
    font-size: 1.4vw;
}
#control_panel .meter_value_acc
{
    font-size: 3.5vh;
    position: absolute;
    width: 100%;
    justify-content: center;
    color: #ffffff;
    font-family: 'Arial-Rounded-MT-Bold';
    bottom: 0%;
    left: 65%;
}

#control_panel #win_wrapper
{   position: absolute;
    font-family: 'Arial-Rounded-MT-Bold';
    height: 100%;
    width: 33.33%;
}
#win_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.win_wrapper_rectangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58%;
    height: 33%;
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #ffffff;
    z-index: -1;
}

.meter_title1,
.meter_win_value {
    position: absolute; /* Position these elements absolutely within win_wrapper */
    color: #ffffff;
    text-align: center;
}

.meter_win_value {
    bottom: 10%; /* Adjust bottom position as needed */
    width: 100%; /* Make sure the value spans the entire width */
}

#control_panel .meter_win_value
{
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 80%;
    font-family: 'Arial-Rounded-MT-Bold';
    font-size: 1.7vw;
}
#control_panel .meter_title1
{
    color: #FF3BDA;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20px;
    top: 11%;
    left: 36%;
    font-family: 'Arial-Rounded-MT-Bold';
    font-size: 0.8vw;
}
#control_panel .meter_title2
{
    text-align: center; /* Center the text horizontally */
    color: #FF3BDA;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20px;
    top: -132%;
    left: 56%;
    font-family: 'Arial-Rounded-MT-Bold';
    font-size: 1.8vw;
}
#control_panel .meter_title
{
    color: #FF3BDA;
    font-size: 4vh;
    line-height: 31px;
    top: 79%;
    left: -8%;
}
#control_panel .meter_title1
{
    font-size: 3.5vh;
    left: 81%;
}

#control_panel .meter_value
{
    margin-top: 3.5%;
    font-size: 3.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Arial-Rounded-MT-Bold';
    bottom: 20%;
    left: 36%;
}


#control_panel .stepper .button_next
{
    /*right: 20%!important;*/
     /*background-size: 100% !important;*/
    /*height: 33px!important;*/
    /*width: 32%!important;*/

    position: absolute;
    display: block;
    top: 51%;
    right: -2%;
   /* background-image: url(../html/images/settings/buttonPanel/mobile/Plus_Normal.png);*/
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: inherit;
    width: 30% !important;
    height: 30% !important;
    background: transparent;
}
#control_panel .stepper .button_prev
{
    /*left: 27%;*/
    /*background-size: 100%!important;*/
    /*height: 26px;*/
    /*width: 35%;*/

    position: absolute;
    display: block;
    top: 51%;
    left: 28%;
    /*background-image: url(../html/images/settings/buttonPanel/mobile/Minus_Normal.png);*/
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: inherit;
    width: 30%;
    height: 30%;
    background: transparent;
}
.disabled_settings_item {

    filter: none !important;
}
#control_panel .stepper {
    /*top: 4%!important;
    left: 0.8%;*/
}

@media only screen
and (device-width : 812px)
and (device-height : 375px)
and (orientation: landscape)
and (-webkit-device-pixel-ratio : 3) {
    /*#control_panel #main_button_wrapper  {
        !*width: 8vw!important;
        height: 8vw!important;*!
        margin-left: -1.1vw;
        margin-top: -7vw;
        overflow: hidden;
        position: absolute;
        left: 88%;
        bottom: 45.3%;
    }*/
    #control_panel #Autoplay_button_wrapper
    {

        /*width: 8vw;
        height: 8vw;*/
        margin-left: 0;
        margin-top: 0;
        overflow: hidden;
        position: absolute;
        /*left: 89.5%;*/
        bottom: 70.3%;
    }
    #control_panel #Autoplay_btn
    {
        background-repeat: no-repeat;
        /*background-color: #2a2832;*/
        width: 100%;
        height: 100%;
        border-radius: 12vw;
        background-size: contain;
        display: flex;
        align-items: center;
        /*justify-content: center;*/
        flex-flow: column;
        font-family: arial;
        font-size: 2.5vw;
    }
}


/********** iPhone 5 and below **********/
@media
    only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape)
    and (device-aspect-ratio: 40/71) {
    #control_panel #ui_buttons {
        position: fixed;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #control_panel #ui_buttons .ui_icon {
        position: initial;
        margin-bottom: 30px;
        background-size: contain;
        width: 23px;
        height: 19px;
    }

    #control_panel #ui_buttons .ui_icon:active {
        -webkit-transform: scale(.9, .9);
        -moz-transform: scale(.9, .9);
        -ms-transform: scale(.9, .9);
        -o-transform: scale(.9, .9);
        transform: scale(.9, .9);
    }

    #control_panel #ui_buttons .ui_icon::before {
        content: '';
        display: block;
        width: 38px;
        height: 38px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background-color: rgba(8, 1, 8, .651);
        z-index: -1;
        position: absolute;
        -webkit-transform: translate(-7px, -9px);
        -moz-transform: translate(-7px, -9px);
        -ms-transform: translate(-7px, -9px);
        -o-transform: translate(-7px, -9px);
        transform: translate(-7px, -9px);
    }

    #control_panel #ui_buttons #button_home.ui_icon {
        background-image: url(../html/images/settings/icon_home_iphone5.png);
    }

    #control_panel #ui_buttons #button_settings.ui_icon {
        /*background-image: url(../html/images/settings/icon_settings_iphone5.png);*/
    }

    #control_panel #ui_buttons #button_audio.ui_icon.audio_on {
        /*background-image: url(../html/images/settings/icon_audio_on_iphone5.png);*/
    }

    #control_panel #ui_buttons #button_audio.ui_icon.audio_off {
        /*background-image: url(../html/images/settings/icon_audio_off_iphone5.png);*/
    }
}


.vex.vex-theme-plain .vex-content{
    top: 55%;!important
}
.vex.vex-theme-plain .vex-content {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    padding: 1em;
    position: absolute;
    margin: 0 auto;
    max-width: 80%;
    width: 450px;
    font-size: 0.95em;
    line-height: 1.5em;
    transform: translate(-50%, -50%);
    left: 49%;
    top: 50%;
}
