#settings .desktop_only
{
    display: none;
}
#settings
{
    font-size: 2.4vw;
}
#settings_menu
{
    width : 80px;
    height: 100%;
    background-color: #010C06;
}
.left-info1
{
    margin-left: 12%;
    font-family: arial;
    color: white;
}
.left-info2
{
    margin-left: 76%;
    margin-top: -3%;
    font-family: arial;
    color: white;
}

#settings_pages .item_strong
{
    padding-top: 30px;
    height: 60px;

}
#viewPort{
    height:285px;
}
.expanding_paytable_mobile1{
    height:251px;
    width:100%;
    margin-left: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}
#settings #settings_title_name
{
    white-space: nowrap;
    font-size: 12px;
    bottom: -16px;
}

.autoStartButtonDiv{
    position: relative;
    float: left;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

#autoplayStartButton{
    background-image: url("../../../common/assets/ui_6/html/images/settings/buttonPanel/mobile/continue_btn_disable.png");
    width: 91px;
    height: 47px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 42%;
    top: 34%;
}

.autoplay_button_txt{

    position: absolute;
    left: 34px;
    top: 12.3%;
    font-size: 16px;
}

#settings_pages
{
    top : 60px;
    left: 80px;
}

#settings_header
{
    left: 80px;
    top : 0;
}

#settings_footer
{
    left: 80px;
}

#settings_icon_holder
{
    width: 50px;
}
.stepper
{
    top : 10px;
}
.item_title_slider
{
    top : 10px;
}

.slider
{
    text-align: center;
    display: block;
    position: relative;
    height: 35px;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    color: grey;
}
.slider .groove-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px auto 0 auto;
    width: 95%;
}
.slider .groove
{
    margin-left: 10px;
    margin-right: 10px;
    height: 4px;
    background-color: #616161;
    position: relative;
    flex-grow: 1;
}
.slider .groove .lit
{
    position: absolute;
    background-color: white;
    width: 100%;
    top : 0;
    height: 4px;
    left: 0;

    -webkit-box-shadow: 0px 0px 12px 5px #ffea4c;
    -moz-box-shadow: 0px 0px 12px 5px rgb(45 208 36 / 86%);
    box-shadow: 0px 0px 12px 5px #4EFF33;
}

.slider .handle {
    position: absolute;
    left: 0;
    top: 2px;
    background-color: white;
    border-radius: 64px;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);


    -webkit-box-shadow: 0px 0px 12px 5px #ffea4c;
    -moz-box-shadow: 0px 0px 12px 5px #ffea4c;
    box-shadow: 0px 0px 12px 5px #4EFF33;
}

.slider .value_label
{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.slider .min_label
{
    text-align: left;
}

.slider .max_label
{
    text-align: left;
}

#settings_menu .icon
{
    margin-top: 2px;
    margin-bottom: 2px;;
}

#settings #button_exit_settings
{
    bottom: 5px;
    right : 2px;
    background-size: 100%;
    cursor: pointer;
}
#settings #button_settings_audio
{

}

#settings_page_pays .symbol_pays .freespins {
    margin-left: 5px;
}

#settings_page_history table {
    width: 100%;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#settings_page_history th {
    color: #fda65d;
    text-align: left;
    font-weight: normal;
}

#settings_page_history tbody:before {
    content: "-";
    display: block;
    color: transparent;
    line-height: 0;
}


#settings .ui_button {
    position: fixed;
    z-index: 2;
    bottom: 10px;
    left: calc(50% + 40px);
    transform: translateX(-50%);
}

.settings_buttons #button_settings_home.ui_icon {
    display: none;
}

/********** iPhone 5 and below **********/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
    #viewPort{
        height:210px;
    }
}
@media
only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)
and (device-aspect-ratio: 40/71) {
    #settings_header .page_title {
        position: initial;
        display: block;
        margin-left: 10px;
        margin-top: 18px;
        transform: none;
        text-align: left;
    }

    .settings_buttons {
        position: fixed;
        right: 10px;
        top: 18px
    }
    #viewPort{
        height:210px;
    }
    .settings_buttons .ui_icon {
        position: initial;
        display: inline-block;
        margin-left: 15px;
        background-size: contain;
        width: 29px;
        height: 21px;
    }

    .settings_buttons .ui_icon:active {
        -webkit-transform: scale(.9, .9);
        -moz-transform: scale(.9, .9);
        -ms-transform: scale(.9, .9);
        -o-transform: scale(.9, .9);
        transform: scale(.9, .9);
    }

    .settings_buttons #button_settings_home.ui_icon {
        display: block;
    }

    #settings .settings_buttons #button_exit_settings.ui_icon {

    }

    .settings_buttons #button_settings_audio.ui_icon.audio_on {

    }

    .settings_buttons #button_settings_audio.ui_icon.audio_off {

    }
}

#settings_page_general .item_holder_tall, #settings_page_autospins .item_holder_tall {
    margin-bottom: 50px;
}

#settings_page_pays .symbol-B1
{
    display: inline-block;
    background-repeat: no-repeat;
    width: 66%;
    height: 116px;
    margin-left: 13%;
    background-size: contain !important;
}
#settings_header .page_title
{
    position: absolute;
    width: 300px;
    left : 46.5%;
    top : 50%;
    transform: translate(-50%, -50%);
    line-height: 22px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #ffea4c;
}
#settings_page_pays .symbol-W1
{
    display: inline-block;
    background-repeat: no-repeat;
    width: 30%;
    height: 173px;
    background-size: contain !important;
}

#settings_page_pays .symbol-WW
{
    display: inline-block;
    background-repeat: no-repeat;
    width: 20%;
    height: 145px;
    margin-left: 35.5%;
    background-size: contain !important;

}
/*.expanding_paytable_mobile{*/
/*    background-image:url(images/settings/symbols/W1.png) ;*/
/*    height:193px;*/
/*    width:100%;*/
/*    margin-left: 36%;*/
/*    margin-top: 7%;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*}*/
/*.coinfeature_paytable_mobile{*/
/*    background-image:url(images/settings/symbols/screen2.jpg) ;*/
/*    height:341px;*/
/*    width:95%;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*}*/

/*#settings_page_pays .respinfeature*/
/*{ height: 116px;*/
/*    position: relative;*/
/*    width: 266px;*/
/*    display:inline-block;*/
/*    padding: 37px;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/

#settings_page_pays .freespinfeature
{
    height: 116px;
    position: relative;
    width: 266px;
    display:inline-block;
    padding: 37px;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*#settings_page_pays .randomwild*/
/*{*/
/*    height: 116px;*/
/*    position: relative;*/
/*    width: 266px;*/
/*    display:inline-block;*/
/*    padding: 37px;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/
/*#settings_page_pays .strakfeature*/
/*{*/
/*    height: 116px;*/
/*    position: relative;*/
/*    width: 266px;*/
/*    display:inline-block;*/
/*    padding: 37px;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/
/*#settings_page_pays .lockfeature*/
/*{*/
/*    height: 116px;*/
/*    position: relative;*/
/*    width: 266px;*/
/*    display:inline-block;*/
/*    padding: 37px;*/
/*    margin-top: 5%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/

/*#settings_page_pays .Payline_1*/
/*{*/
/*    background-image: url("images/settings/symbols/payline.png");*/
/*    !*display: block;*!*/
/*    height: 341px;*/
/*    width: 95%;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*}*/
/*#settings_page_pays .Payline_2*/
/*{*/
/*    background-image: url("../html/images/settings/symbols/Payline_2.png");*/
/*    !*display: block;*!*/
/*    background-repeat: no-repeat;*/
/*    height: 80vh;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    margin: auto;*/
/*    width: 100%;*/
/*}*/

/*#settings_page_pays .Payline_3*/
/*{*/
/*    background-image: url("../html/images/settings/symbols/Payline_1.png");*/
/*    !*display: block;*!*/
/*    background-repeat: no-repeat;*/
/*    height: 80vh;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    margin: auto;*/
/*    width: 100%;*/
/*}*/

#settings_page_pays .section_title
{
    width: 95%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    margin-left: -11.5px !IMPORTANT;
}
#settings_page_pays .section_title1
{
    padding-top: 12%!important;
    padding-bottom: 6%;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    text-align: center;

}

{
    padding-top: 25% !important;
    padding-bottom: 6%;
    width: 100%;
    height: 40px;
    line-height: 142px;
    color: #ffea4c;
    font-weight: 900;
    text-align: center;

}
#settings_page_pays .section_title4
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 4%!important;
    padding-bottom: 6%;
    text-align: center;
}
#settings_page_pays .section_title6
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 4%!important;
    padding-bottom: 1%;
    text-align: center;
    margin-left: -27.5px !IMPORTANT;
}

#settings_page_pays .section_title8
{
    width: 95%;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 8%!important;
    padding-bottom: 1%;
    text-align: center;
    margin-left: -10.5px !IMPORTANT;
}

#settings_page_pays .payout_heading
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffea4c;
    font-weight: 900;
    font-size: 26px;
    margin-left: -4%;
}
#settings_page_pays .section_title9
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 6%!important;
    padding-bottom: 5%;
    text-align: center;
    margin-left: -10.5px !IMPORTANT;
}
#settings_page_pays .section_title10
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 12%!important;
    padding-bottom: 6%;
    text-align: center;
}
#settings_page_pays .section_title11
{
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ffea4c;
    font-weight: 900;
    padding-top: 6%!important;
    padding-bottom: 0%;
    text-align: center;
}
#settings_page_pays .text_block
{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 47%;
    height: auto;
    text-align: left;
    padding-left: 23px;
    position: absolute;
}
#settings_page_pays .text_block1
{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90%;
    height: auto;
    text-align: left;
    padding-left: 23px;
    position: absolute;
}
#settings_page_pays .text_block2
{
    height: auto;
    text-align: left;
}

#settings_page_pays .text_block3
{
    margin-left: 23%;
    margin-top: 9% !important;
    position: absolute;
}
#settings_page_pays .text_block33
{
    margin-left: 18%;
    margin-top: 9% !important;
    position: absolute;
    color: #ffea4c;
;
}
#settings_page_pays .text_block5
{
    display: inline-block;
    float: right;
    margin-top: -19%;
}


#settings_page_pays .symbol_holder
{
    margin-left: 27vw;
    width: 26vw;
    height: 16vw;
    background-position: center;
    background-repeat: no-repeat;
}

#settings_page_pays table {
    margin-left: auto;
    border-collapse: collapse;
}
strong {
    color: #ffea4c;
    font-weight: 900;
}

.landscape{
    position: relative;
    float: right;
    margin-top: 6%;
    padding: 2%;
    width: 61%;
}

.pickbonus_paytable_mobile{
    /*height:341px;
    width:95%;*/
}

.freeSpins_paytable_mobile{
    /*height:341px;
    width:95%;*/
}
.mystery_paytable_mobile{
    height:341px;
    width:95%;
}
.random_wild_paytable_mobile{
    height:341px;
    width:95%;
}
.expended_paytable_mobile{
    height:341px;
    width:95%;
}

/*history*/
#tableContainer{
    width: 100%;
    height: fit-content;
    background-color: red;
}
#pageHeading{
    width: 100%;
    background: linear-gradient(to right, #000000 0%,#222222 100%);
    z-index: 10;
    text-align: center;
    height: 1.5em;
    left: 0;
    top: 0px;
    -webkit-align-items: center;
    justify-content: center;
    display: -webkit-flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    font-size: 37px;
    font-weight: bold;
}

#historyData{
    display: block;
    width: 99%;
    transform: translate(1px, 20px);
}
.tableOuter{
    width: 100%;
    height:683px;
    position: absolute;
    margin-left:0px;
    top:15%;
    z-index: 9999;
    background-color: black
}
.hh{
    padding: 4%;
}
.rr {
    display: grid;
    margin-top: 8%;
    font-size: 16px;
    border: 1px solid;
    border-radius: 15px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.fgrr {
    display: grid;
    margin-top: 1%;
    font-size: 15px;
    border: 1px solid;
    border-radius: 15px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.spinData{
    font-size: 15px;
    margin-top: 0%;
    border: 1px solid;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
.fgSpinData{
    font-size: 15px;
    margin-top: 0%;
    border: 1px solid;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.spinInfo{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.fgSpinInfo{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.cellData {
    padding: 3%;
}
#spinsRecord{
    width: 100%;
    height: 50px;
    background-color: yellow;
}
#allSpinsRecord{
    transform: translateX(25px);
    width: 90%;
}
.gameRoundInfoHead{width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid;
}
.gameBasicInfo{width: 100%;

    border-bottom: 1px solid;
    line-height: 0px;
}
.gameTransactionInfo{width: 100%;
    line-height: 0px;

    border-bottom: 1px solid
;
}
.gameSummaryInfo{width: 100%;


    line-height: 0px;

}
.symbolGridL {
    box-sizing: border-box;
    position: relative;


}
.symbolGridR {
    box-sizing: border-box;
    position: relative;
    padding: 2%;

    margin-left: auto;
}
#symbol-img{
    height: 55px;
    width: 55px;
}
.row {
    display: flex;
    align-items: center;

    justify-content: space-around;
}
#gridLR{
    display: flex;
}
.symbolWin-img{
    height: 70px;
    width: 70px;
}
.winLInfoRow{
    display: grid;
    padding: 0%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 50%;
}
.winRInfoRow{
    display: grid;
    padding: 0%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 72%;
}
.winInfo{
    align-self: center;
}
.gridRWinInfo{
    margin-left: auto;
}
#gridLRWinInfo{
    display: flex;
}
#winHeading{
    display: flex;


}
.wHead{
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.hrr{
    padding: 5%;
}
#rightWinHead{
    margin-left: 22%;
}
#closeBtn{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-top: 0%;
    margin-left: 96%;
    cursor: pointer;
}
#clsBtn{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    margin-top: 0%;
    margin-left: 96%;
    cursor: pointer;
}
#closeFgInfo{
    margin-top: 6%;
}
#settings_history{
    cursor: pointer;
}
#fgTableBtn{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    margin-left: 96%;
    cursor: pointer;
}
.wildFallDown{
    height: 112px;
    width: 135px;
}
.wildReels{
    z-index: 1;
    width: 94px;
    position: absolute;
    height: 170px;
    top: 5%;
}
#freeGameData{
    width: 90%;
    transform: translateX(25px);
}

.symbolInfo{
    width: 26%;
    cursor: pointer;
}
#fgtableOuter{
    width: 90%;
    transform: translateX(25px);
}
#leftWinHead{
    width: 50%;
    margin-top: 3%;
}
.winLNInfoRow{
    display: grid;
    padding: 0%;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 50%;

}
.symbolGridN {
    box-sizing: border-box;
    position: relative;
    padding: 2%;

}

/*.H1_land_fix{*/
/*    margin-left: 28vw;*/
/*    width: 26vw;*/
/*    height: 16vw;*/
/*}*/

/*end*/


@media
only screen
and (min-device-width: 375px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)
{
    .pickbonus_paytable_mobile{
        margin-left: 12%;
    }
    .freeSpins_paytable_mobile{
        margin-left: 12%;
    }
    #settings_page_pays .section_title6
    {
        margin-left: -26.5px !IMPORTANT;
    }
}

@media
only screen
and (min-device-width: 1366px)
and (max-device-height  : 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)
{
    /*#settings_page_pays .Payline_1*/
    /*{   background-image: url("images/settings/symbols/payline.png");*/
    /*    background-repeat: no-repeat;height: 42vh;background-position: center;background-size: cover;margin: auto;width: 70%;}*/
    /*#settings_page_pays .Payline_2*/
    /*{   background-image: url("../html/images/settings/symbols/Payline_2.png");*/
    /*    background-repeat: no-repeat;height: 42vh;background-position: center;background-size: cover;margin: auto;width: 70%;}*/

    /*#settings_page_pays .Payline_3*/
    /*{   background-image: url("../html/images/settings/symbols/Payline_1.png");*/
    /*    background-repeat: no-repeat;height: 42vh;background-position: center;background-size: cover;margin: auto;width: 70%;*/
    /*}*/
}
@media
only screen
and (min-device-width: 1024px)
and (max-device-height  : 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)
{
    /*#settings_page_pays .Payline_1*/
    /*{*/
    /*    background-image: url("images/settings/symbols/payline.png");*/
    /*    !*display: block;*!*/
    /*    background-repeat: no-repeat;*/
    /*    height: 65vh;*/
    /*    background-position: center;*/
    /*    background-size: cover;*/
    /*    margin: auto;*/
    /*    width: 100%;*/
    /*}*/
}
